<footer class="page-footer center-on-small-only stylish-color-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title mb-4 mt-3 font-bold">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Partners</h5>
                {{#each navigationLinksFooterPartners}}
                    <ul>
                        <li>
                            <a class="nav-link footerlinks" href="{{this.url}}">{{this.label}} </a>
                        </li>
                    </ul>
                {{/each}}
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Kitchen</h5>
                {{#each navigationLinksFooterKitchen}}
                    <ul>
                        <li>
                            <a class="nav-link footerlinks" href="{{this.url}}">{{this.label}} </a>
                        </li>
                    </ul>
                {{/each}}
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold ">Location</h5>
                {{#each navigationLinksFooterLocation}}
                <ul>
                    <li>
                        <a class="nav-link footerlinks" href="{{this.url}}">{{this.label}} </a>
                    </li>
                </ul>
                {{/each}}
            </div>
        </div>
    </div>
    <hr>
    <div class="call-to-action">
        <ul>
            <li>
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li><a href="" class="btn btn-danger btn-rounded">Sign up!</a></li>
        </ul>
    </div>
    <hr>
    <div class="social-section text-center">
        <ul>
            <li><a class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-li"><i class="fa fa-linkedin"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-dribbble"><i class="fa fa-dribbble"> </i></a></li>
        </ul>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.sitepoint.com"> SitePoint.com </a>
        </div>
    </div>
</footer>